::-webkit-scrollbar {
    display: none;
}

.SensorData{
    overflow-y:scroll;
    height: 100vh;
}

.HomePageContent{
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 2fr;
}

.SidebarHeader {
    grid-column: 1;
}

.Map {
    grid-column: 1;
}

.HomePageContent .Sidebar{
    grid-column: 1;
    height: 100vh;
}

.HomePageContent .GridContainer{
    /* width: 1000px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-column: 2;
    padding: 20px;
    grid-gap: 1em;
    color: black;
}

.GridContainer .topCards {
    /* border: 2px solid white; */
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1em;
}