::-webkit-scrollbar {
    display: none;
}

.HomePage {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 15fr;
}

.HomePageContent {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.Map {
    height: calc(93.75vh - 65px);;
}