.SidebarHeaderContent {
    padding: 20px;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 7fr 2fr 2fr;
}

.AlarmButton {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.EnlargeButton {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.Buttons {
    margin-top: 20px;
    transform: scale(2);
}

.ButtonLinks {
    margin: 0;
    color: black;
    text-decoration: none;
    display: flex;
    width: fit-content;
}

.SidebarHeader {
    font-size: 40px;
    padding: 0;
    margin: 0;
}