.SidebarHeaderContent {
    display: grid;
    grid-template-columns: 7fr 2fr 2fr;
}

.AlarmButton {
    margin: 0;
    margin-left: auto;
}

.EnlargeButton {
    margin: 0;
    margin-left: auto;
}

.Buttons {
    margin-top: 10px;
    margin-right: 10px;
    transform: scale(1.5);
}

.ButtonLinks {
    margin: 0;
    color: black;
    text-decoration: none;
    display: flex;
    width: fit-content;
}

.SidebarHeader {
    font-size: 40px;
    padding: 0;
    margin: 0;
}