
.largeSidebarTbl{
    height: 68vh;
    overflow-y: scroll;
}

.smallSidebarTbl{
    height: 30vh;
    overflow-y: scroll;
}

table {
    width: 100%;
    background-color: white;
    border-spacing: 0;
    border: 1px solid rgb(71, 71, 71);
}

tr {
    height: 50px;
}
  
td {
    border: 1px solid rgb(71, 71, 71);
}

.Header{
    text-align: center;
    padding: 0px 10px 0px 10px;
    background-color: #BFCDFF;
    font-weight: bold;
    position: sticky;
    top: 0;
    /* cursor: pointer; */
}

.Location {
    padding-left: 10px;
}

.Number {
    text-align: center;
}