/*.Tbl {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  */  
  table {
    width: 700px;
    height: 300px;

    /*display: block;*/
    overflow-x: auto;
    border-spacing: 0;
    border: 1px solid black;
  }
    
  th {
  
    border: 1px solid black;
  }
    
  td {
    text-align: center;
    border: 1px solid black;
  }

  .Header{
    background-color: #2bbbeb;
    border: 1px solid #44798b;
  }