
.largeSidebarTbl{
    height: 68vh;
    overflow-y: scroll;
}

.smallSidebarTbl{
    height: 30vh;
    overflow-y: scroll;
}

tr{
    position: sticky;
}


table {
    width: 100%;
    background-color: white;
    border-spacing: 0;
    border: 1px solid rgb(71, 71, 71);

}
  
td {
    /* text-align: center; */
    border: 1px solid rgb(71, 71, 71);
}

.Header{
    background-color: #BFCDFF;
    font-weight: bold;
}

th {
    background: white;
    position: sticky;
    top: 0;
  }