.AlarmHeaderContent {
    padding: 20px;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 16fr 1fr 1fr;
    align-items: center;
  }


  .backButton {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #000;
    
  }

  .backButton:hover{
    transform: scale(1.05);
  }
  
  .Icon {
    width: 5px;
    transform: scale(2.7);
    height: 5px;
    margin-right: 15px;
    transition: transform 0.2s ease-in-out;
  }
  
  
  .Back {
    margin: 0;
    font-size: 40px;
    font-family: "Arial";
  }
  

  
  .AlarmHeader {
    font-size: 40px;
    padding: 0;
    margin: 0;
  }
      