::-webkit-scrollbar {
    display: none;
}

.SidebarGridItem{
    background-color: #6b6b6b;
}

/*-----------------------------
Styling for the small sidebar
-------------------------------*/

.smallSidebarContainer{
    height: calc(93.75vh - 65px);
    background-color: #EBEBEB;
    border-radius: 10px;
    margin: 20px 10px 20px 0px;
    padding: 15px;
    overflow-y: scroll;
    display: grid;
    grid-template-rows: 1fr 7fr 7fr;
    gap: 10px;
}

.smallSidebarLineChartContainer1{
    background-color: white;
    border-radius: 10px;
}

.smallSidebarLineChartContainer2{
    display:none;
}

.smallSidebarOverviewBox{
    display:none;
}

.smallSidebarTableContainer{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
    overflow-y: scroll;
    min-height: 37.5vh;
}

.smallSidebarOverviewBox{
    display: none;
}


/*-----------------------------
Styling for the large sidebar
-------------------------------*/

.alarmContainer{
    position: absolute;
    left:10px;
    right:10px;
    height: calc(93.75vh - 65px);
    background-color: #EBEBEB;
    margin-top: 20px;
    overflow-y: scroll;
}

.largeSidebarContainer{
    position: absolute;
    left:10px;
    right:10px;
    height: calc(93.75vh - 65px);
    background-color: #EBEBEB;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    overflow-y: scroll;

    display: grid;
    grid-template-rows: 1fr 8fr 8fr;
    grid-template-columns: 3fr 2fr 2fr;
    gap: 15px 15px;
    border-radius: 10px;
}


.largeSidebarLineChartContainer1{
    margin-top: 20px;
    grid-column: 3;
    grid-row: 3;
}

.largeSidebarLineChartContainer2{
    margin-top: 20px;
    grid-column: 2;
    grid-row: 3;
}

.largeSidebarTableContainer{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    grid-column: 1;
    grid-row: 2/4;
}

.largeSidebarSidebarHeader{
    grid-column: 1/4;
    grid-row: 1;
}


.hiddenHeader{
    display: none;
}
.alarmTableContainer, .alarmLineChartContainer1, .alarmLineChartContainer2, 
 .alarmOverviewBox{
    display: none;
}

.alarmSidebarHeader{
    grid-row: 1;
    gap: 0px;
    grid-column: 1/4;
}

.largeSidebarNotifications, .smallSidebarNotifications{
    display: none;
}

.alarmContainer{
    display: grid;
    grid-template-rows: 1fr 14fr;
    grid-template-columns: 1fr 50fr 1fr ;
}


.alarmNotifications{
    overflow-y: scroll;
    padding-top: 10px;
    grid-row: 2/14;
    grid-column: 2;
}

