::-webkit-scrollbar {
    display: none;
}

.SidebarContainer{
    display: grid;
    grid-template-rows: 1fr 6fr 6fr;
    height: calc(100vh - 40px);
    background-color: #EBEBEB;
    padding-left: 0px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow-y: scroll;
}

.LineChartContainer{
    margin: 20px;
    padding: 20px;
    color: black;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.TableContainer{
    padding: 20px;
    margin: 20px;
    margin-bottom: 0;
    background-color: #FFFFFF;
    border-radius: 10px;
}