.button-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    justify-self: center;
}

.button {
    background-color: #0AC29B;
    min-width: 70px;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 10px 5px 0px 5px;
    font-family: "Arial";
}

.button:hover {
    background-color: #079776;
}

.button.active {
    background-color: #0B877D;
}