.ChartContainer{
    /* border: 2px solid black */
    height: 100%;
    max-width: 100%;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.ChartContainer .Content{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
    /* width: 95%; */
}

.ChartTitle {
    margin: 0;
    margin-left: auto;
    font-size: 20px;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
}
