.ChartContainer{
    height: 100%;
    max-width: 100%;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.ChartContainer .Content{
    height: fit-content;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    padding: 10px;
}

.ChartTitle {
    margin: 0;
    margin-left: auto;
    font-size: 20px;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
}
