.ChartContainer{
    /* border: 2px solid black */
    height: 100%;
    max-width: 100%;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.ChartContainer .Content{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 5fr;
    /* width: 95%; */
}
